html {
    scroll-behavior: smooth;
    --scroll-duration: 1.5s;
    --scroll-function: cubic-bezier(0.42, 0, 0.58, 1);
    --scroll-margin: 10px;
}

body {
    margin: 0;
    padding: 0;
    display: block;
    border: none;
    color: #545454;
    font-family: Georgia, serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

ul, ul li {
    list-style: none;
}

a, a:link, a:visited {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

.header-row {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 11px;
}

.logo {
    font-family: Georgia, serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0.06em;
    text-align: left;
    color: #545454;
    margin: 0;
}

.header-logo p {
    font-family: Arial, serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0.1em;
    text-align: left;

}

.header-nav_list {
    display: flex;
}

.header-nav_list li:not(:last-child) {
    padding-right: 29px;
}

.active:after {
    content: '';
    background-color: #F1CDB3;
    height: 2px;
    display: block;
}
.menuButton{
    display: none;
}

.menuButton {
    display: none;
}

.header-nav_list a {
    color: #545454;
}

.header-nav_list a:hover {
    color: black;
    border-bottom: 2px solid #F1CDB3;
}

.active a {
    color: black;
}

.our-friends {
    background-color: #f6f6f6;
}

.title {
    font-family: Georgia, serif;
    font-size: 35px;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: 0.06em;
    text-align: center;
    color: #545454;

}

.slider {
    padding: 47px 0 32px 0;
}

.slider h3 {
    padding-bottom: 24px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-pet {
    background-color: #FAFAFA;
    width: 270px;
    height: 435px;
    text-align: center;
    border-radius: 20px;
    margin-bottom: 29px;
}

.listPage{
    padding:10px;
    text-align: center;
    list-style: none;
}
.listPage li{
    background-color: #ffffffBD;
    padding:20px;
    display: inline-block;
    margin:0 10px;
    cursor: pointer;
}
.listPage .active{
    background-color: #B192EF;
    color:#fff;
}

.card-pet:not(:nth-child(4n)) {
    margin-right: 40px;
}

.card-pet:hover {
    transform: scale(1.1);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.card-pet_button {
    padding-top: 10px;
}

.card-pet_button button:hover {
    background-color: #F1CDB3;
    cursor: pointer;
}

.card-pet_name {
    font-family: Georgia, serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.06em;
    text-align: center;
    padding-top: 5px;
}

.card-container.hidden {
    display: none;
}

.button-left button, .button-right button {
    background-color: #f6f6f6;
    border-radius: 50px;
    border: 1px solid grey;
    width: 50px;
    height: 50px;
}

.sliderBtn {
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    height: 100%;
    z-index: 2;
}

.sliderBtn.button-left {
    left: 0;
}

.sliderBtn.button-right {
    right: 0;
}

.our-friends_button-wrapper {
    text-align: center;
}

.button {
    height: 52px;
    border-radius: 100px;
    padding: 15px 45px 15px 45px;
    background: #F1CDB3;
    font-family: Georgia, serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.06em;
    border: 2px solid #F1CDB3;
}

.card-pet_button button {
    height: 52px;
    width: 187px;
    border-radius: 100px;
    padding: 15px 45px 15px 45px;
    border: 2px solid #F1CDB3;
    background-color: #FAFAFA;
    font-family: Georgia, serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.06em;
    text-align: left;
}

.slider-button {
    text-align: center;
    padding-bottom: 100px;
}

.round-button {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #F1CDB3;
    color: black;
    font-size: 20px;
    border: 2px solid #F1CDB3;
    margin-right: 10px;
}

.deactivate {
    color: #CDCDCD;
    border: 2px solid #CDCDCD;
    background-color: #f6f6f6;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 20px;
    margin-right: 10px;
}

.activate {
    background-color: #f6f6f6;
}

.activate:hover {
    background-color: #F1CDB3;
}

.one {
    margin-right: 19px;
    margin-left: 20px;
}

.round-button:hover {
    transform: scale(1.1);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.footer {
    background: url('../../assets/images/noise_transparent.png'),
    radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%);
    color: white;
}

.footer-row {
    display: flex;
    justify-content: space-between;
    padding-top: 23px;
    font-family: Georgia, serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.06em;
    text-align: left;

}

.footer-flex {
    display: flex;
}


.footer-item-1 {

.footer-item-1{

    padding-right: 162px;
}

.footer-row p {
    margin: 0;
}

.footer-title {
    text-align: left;
    color: white;
    max-width: 279px;
}

.footer-image {
    padding-top: 20px;
}

.footer-location a, .footer-connection a {
    display: flex;
    align-items: flex-start;
    color: #F1CDB3;
    padding-bottom: 41px;
}

.footer-connection img, .footer-location img {
    padding-right: 15px;
}

.footer-connection p:hover, .footer-location p {
    border-bottom: 2px solid transparent;
}

.footer-connection p:hover, .footer-location p:hover {
    color: white;
    border-bottom-color: #F1CDB3;
}



@media (min-width: 768px) and (max-width: 1000px) {

@media (min-width: 768px) and (max-width: 1000px){

    .container {
        margin: 0 auto;
        padding: 0 30px 0 30px;
    }


    .hidden {
        display: none;
    }

    .menuButton {
        display: none;
    }

    .card-container {
        justify-content: space-evenly;
    }

    .card-pet:not(:nth-child(4n)) {
        margin-right: 0;
    }

    .slider {
        padding: 48px 0 8px 0;
    }

    .slider h3 {
        padding-bottom: 0;
    }

    .slider-button {
        padding-bottom: 78px;
    }

    .hidden{
        display: none;
    }
    .menuButton{
        display: none;
    }
    .card-container{
        justify-content: space-evenly;
    }
    .card-pet:not(:nth-child(4n)) {
      margin-right: 0;
    }
    .slider {
        padding: 48px 0 8px 0;
    }
    .slider h3{
        padding-bottom: 0;
    }
    .slider-button{
        padding-bottom: 78px;
    }

    .footer-row {
        display: block;
        padding-top: 31px;
    }

    .footer-item-1 {
        padding-left: 5%;
        padding-right: 0;
    }

    .footer-item-2 {
        padding-left: 8.5%;
    }

    .footer-title {
        margin: 0;
        padding-bottom: 40px;
    }

    .footer-flex {
        display: flex;
    }

    .footer-image {
        padding-top: 10px;
        text-align: center;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .container {
        margin: 0 auto;
        padding: 0 10px 0 10px;
    }


    .header-row {
        padding: 30px 10px 22px 10px;
    }

    .header-nav {
        background: #292929;
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        transition: right 0.5s ease-out;
        padding: 50px 0 0 0;
        text-align: center;
        font-family: Arial, serif;
        font-size: 32px;
        line-height: 51px;
        max-width: 320px;

    }

    .header-nav ul {
        padding: 80px 30px 0 30px;
        flex-direction: column;

    }

    .header-nav.show {
        right: 0;
    }

    .overlay {
        background-color: rgba(0, 0, 0, 0.57);
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        transition-duration: 1s;
    }

    .nav-icon {
        width: 60px;
        height: 45px;
        position: absolute;
        transition-duration: 1s;
        cursor: pointer;
        display: block;
        padding-top: 18px;
        z-index: 2;
        top: 30px;
        right: 30px;
    }

    .nav-icon span {
        height: 3px;
        width: 60px;
        background-color: #545454;
        border-radius: 20px;
        position: absolute;
        transition-duration: .25s;
        top: 18px;
    }

    .nav-icon span:before {
        left: 0;
        position: absolute;
        top: -18px;
        height: 3px;
        width: 60px;
        background-color: #545454;
        content: "";
        border-radius: 20px;
        transition-duration: .25s;
    }

    .nav-icon span:after {
        left: 0;
        position: absolute;
        top: 18px;
        height: 3px;
        width: 60px;
        background-color:  #545454;
        content: "";
        border-radius: 20px;
        transition-duration: .25s;
    }

    .nav-icon.open {
        transform: rotateZ(90deg);
    }

    .nav-item a {
        width: 100%;
        display: block;
        padding: 10px 0;
        color: #636060;
        border-bottom: 2px solid transparent;
    }

    .header-burger {
        width: 30px;
        border-top: #F1CDB3 2px solid;
        display: block;
        padding-bottom: 5px;
    }

    .header-nav_list li:not(:last-child) {
        padding-right: 0;
    }

    .title {

    .header-row{
        padding: 30px 10px 13px 10px;
    }
.header-nav {
    display: none;
}
    .title{

        font-size: 25px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0.06em;
        text-align: center;

    }


    .slider {
        padding: 18px 0 9px 0;
    }


    .slider {
        padding: 18px 0 9px 0;
    }
    .card-pet_hidden{
        display: none;
    }

    .hidden{
        display: none;
    }


    .menuButton {

    .menuButton{

        display: block;
        padding-top: 18px;
    }

    .one {

        margin: 0;
    }

    .slider-button {
        padding-bottom: 43px;
    }

    .round-button {
        padding: 0;
        margin: 0;
    }

    .deactivate {
        margin: 0;
    }

    .card-pet:not(:nth-child(4n)) {
        margin-right: 0;
    }


       margin: 0;
    }
    .slider-button {
        padding-bottom: 43px;
    }
    .round-button{
        padding: 0;
        margin: 0;
    }
    .deactivate {
        margin: 0;
    }
    .card-pet:not(:nth-child(4n)) {
        margin-right: 0;
    }

    .footer-location a, .footer-connection a {
        justify-content: center;
    }

    .footer-flex {
        flex-direction: column;

    }

    .footer-row {
        flex-direction: column;
        padding-top: 5px;
    }

    .footer-item-1 {
        padding-right: 0;
    }


    .footer-image {
        text-align: center;
        padding-top: 0;
    }


    .footer-image{
        text-align: center;
        padding-top: 0;
    }

    .footer-image img {
        /*height: 310px;*/
        /*width: 300px;*/
        width: 85%;
        max-width: 300px;
    }


    .footer-title {
        padding-left: 6px;
        max-width: 800px;
    }

    .footer-connection {
        padding-top: 18px;
    }

    .footer-connection a {
        padding-bottom: 17px;
    }

    .footer-location {

    .footer-title{
        padding-left:6px;
        max-width: 800px;
    }
    .footer-connection{
        padding-top: 18px;
    }
    .footer-connection a{
        padding-bottom: 17px;
    }
    .footer-location{

        padding-top: 14px;
    }
}